<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de <%= usuario.nombre %></title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/theme/css/style.css">
    <link rel="stylesheet" href="/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css">
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/theme/js/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <style>
        body{
            min-height: 100vh;
        }
        .profile-container {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            max-width: 800px !important;
            margin: 0 auto !important;
        }

        .description-section {
            text-align: center !important;
            margin-bottom: 20px !important;
            width: 100% !important;
        }

        .sections-container {
            display: flex !important;
            justify-content: space-between !important;
            width: 100% !important;
            align-items: stretch !important;
        }

        .profile-section {
            width: 48% !important;
            padding: 10px !important;
            box-sizing: border-box !important;
            border: 1px solid #ddd !important;
            border-radius: 8px !important;
            background-color: #f9f9f9 !important;
        }

        .profile-section button {
            padding: 10px !important;
            background-color: #0077b5 !important;
            color: white !important;
            border: none !important;
            cursor: pointer !important;
        }

        .profile-section button:hover {
            background-color: #005f8b !important;
        }

        .chat-icon {
            margin-left: 15px;
            font-size: 20px;
            color: #0077b5;
            text-decoration: none;
            width: 20px;
        }

        .chat-icon:hover {
            color: #005f8b;
        }
    </style>
</head>
<body>
    <%- include("../routes/header.ejs") %>
    <br>
    <% if(estasbloqueado){ %>
        <center>
        <h1><%- usernamever %> te ha bloqueado</h1>
        <img src="/assets/images/tristepatatas.png" style="height: 20vh; width: 20vh;"></img>
    </center>
    <% } else { %>
    <section class="people07" id="people07-d">
        <div class="profile-container">
            <div class="img-wrapper mt-4">
                <strong>Perfil de <%= usuario.nombre %></strong>
                <img src="data:image/jpeg;base64,<%= foto_perfil_base64 %>" alt="Foto de perfil">
            </div>
            <div class="img-wrapper mt-4">
                <a href="/perfilajeno/<%= usuario.username %>/siguiendo">Siguiendo: <%= seguidos %></a>
                <a href="/perfilajeno/<%= usuario.username %>/seguidores" style="margin-left: 15px;">
                    <span id="seguidos_<%= usuario.id %>">Seguidores: <%= seguidores %></span>
                </a>
                
                <a href="/chat/<%= usuario.id %>" class="chat-icon" title="Enviar mensaje">
                    <i class="fas fa-comment-dots"></i>
                </a>
            </div>
            
            <div class="description-section">
                <p><b>Descripción:</b></p>
                <p><%= usuario.descripcion || 'Sin descripción' %></p>
            </div>

            <div class="sections-container">
                <div class="profile-section">
                    <p><b>Redes sociales</b></p>
                    <% if (usuario.twitter) { %>
                        <p><i class="fab fa-twitter"></i> <a href="https://twitter.com/<%= usuario.twitter %>" target="_blank">Twitter</a></p>
                    <% } %>
                    <% if (usuario.instagram) { %>
                        <p><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/<%= usuario.instagram %>" target="_blank">Instagram</a></p>
                    <% } %>
                    <% if (usuario.linkedin) { %>
                        <p><i class="fab fa-linkedin-in"></i> <a href="https://www.linkedin.com/in/<%= usuario.linkedin %>" target="_blank">LinkedIn</a></p>
                    <% } %>
                    <% if (usuario.github) { %>
                        <p><i class="fab fa-github"></i> <a href="https://github.com/<%= usuario.github %>" target="_blank">GitHub</a></p>
                    <% } %>
                </div>

                <div class="profile-section">
                    <p><b>Información personal</b></p>
                    <p>Nombre: <%= usuario.nombre %></p>
                    <p>Apellido: <%= usuario.apellido %></p>
                    <p>Fecha de Nacimiento: <%= usuario.fecha_nacimiento.toISOString().slice(0,10) %></p>
                    <p>Teléfono: <%= usuario.telefono || 'No disponible' %></p>
                </div>
            </div>
        </div>    
        <center>
        <% if (usernamever === username) { %>
            <a href="/perfil">Ir a mi perfil</a>
        <% } else { %>
            <div class="follow-section">
                <button class="seguir" id="<%= usuario.id %>" name="<%= userId %>">
                    <% if (seguido) { %>
                        <p>Dejar de seguir</p>
                    <% } else { %>
                        <p>Seguir</p>
                    <% } %>
                </button>
            </div>
            <div class="follow-section">
                <button id="bloquear-btn" class="<%= bloqueado ? 'btn btn-warning btn-sm' : 'btn btn-danger btn-sm' %>">
                    <i class="<%= bloqueado ? 'fas fa-unlock' : 'fas fa-ban' %>"></i>
                    <%= bloqueado ? 'Desbloquear' : 'Bloquear' %>
                </button>
            </div>  
        <% } %>
        <a href="/publicaciones/<%= usuario.username %>" >Publicaciones de <%= usuario.username %></a>
        </center>
        
    </section>
    <script>
        // Script para manejar el botón de seguir/dejar de seguir
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('.seguir').forEach(button => {
                button.addEventListener('click', async () => {
                    const id_seguido = button.id;
                    const id_usuario = button.name;

                    const response = await fetch('/seguir', {
                        method: 'POST',
                        credentials: 'include',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ id_seguido, id_usuario })
                    });

                    const data = await response.json();

                    if (response.ok) {
                        button.innerHTML = data.text;
                        document.getElementById(`seguidos_${id_seguido}`).innerText = "Seguidores: " + data.seguidores;
                    } else {
                        console.error('Error al procesar el follow:', data.error);
                        alert("Hubo un error al intentar seguir al usuario. Intenta nuevamente.");
                    }
                });
            });

            // Script para manejar el botón de bloquear/desbloquear
            const bloquearBtn = document.getElementById("bloquear-btn");

            bloquearBtn.addEventListener("click", async () => {
                const usuarioId = "<%= usuario.id %>";
                const accion = bloquearBtn.classList.contains("btn-danger") ? "bloquear" : "desbloquear";

                try {
                    const response = await fetch(`/${accion}/${usuarioId}`, {
                        method: "POST",
                        credentials: "include",
                    });

                    if (response.ok) {
                        if (accion === "bloquear") {
                            bloquearBtn.classList.remove("btn-danger");
                            bloquearBtn.classList.add("btn-warning");
                            bloquearBtn.innerHTML = '<i class="fas fa-unlock"></i> Desbloquear';
                        } else {
                            bloquearBtn.classList.remove("btn-warning");
                            bloquearBtn.classList.add("btn-danger");
                            bloquearBtn.innerHTML = '<i class="fas fa-ban"></i> Bloquear';
                        }
                    } else {
                        alert("Hubo un error al procesar la solicitud. Intenta nuevamente.");
                    }
                } catch (error) {
                    console.error("Error al procesar la solicitud:", error);
                    alert("Hubo un error al procesar la solicitud. Intenta nuevamente.");
                }
            });
        });
    </script>
            <% } %>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/ytplayer/index.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/vimeoplayer/player.js"></script>
    <script src="assets/masonry/masonry.pkgd.min.js"></script>
    <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assets/theme/js/script.js"></script>
    <%- include("../routes/footer.ejs") %>
</body>

</html>